<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1 class="page-title">My photos</h1>
        <p class="photos-intro-text">Here is my recent photo gallery, updated with content from my deviantart account. Some photos date back from 2009, but I will try to update as often as I can with new content, once I get new pictures done.</p>
    </div>
</div>
<div class="row content-hide slow">
    <div class="col-sm-10 col-sm-offset-1 photo-grid" masonry preserve-order reload-on-show reload-on-resize masonry-options="photoOptions" column-width=".grid-sizer">
        <div class="masonry-brick grid-sizer photo-item" ng-repeat="item in galleries | orderBy: -devDate ">
            <h3 class="title" ng-bind="item.title"></h3>
            <p class="date">{{item.devDate | date:"d MMMM yyyy"}}</p>
            <p class="description" ng-bind="item.devText | fixhtml"></p>
            <img ng-src="{{item.url}}" alt="{{item.title}}" class="img-responsive visible-xs">
            <a href="#" ng-click="openPhoto(item.url, item.title)" class="hidden-xs">
                <img ng-src="{{item.url}}" alt="{{item.title}}" class="img-responsive">
            </a>
        </div>
    </div>
</div>