<div class="row">
    <div class="content-hide col-sm-10 col-sm-offset-1">
        <h1 class="page-title">Hi. I am Bogdan Ciocsan, a web developer based in CPH</h1>
        <p class="photos-intro-text">Made my first web page in 2007 and since then I have created 50+ other web and mobile solutions. Been working in areas like: health & innovation, music, event management, various webshops and furniture/product showcases.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-sm-offset-1 content-hide ">
        <p class="light intro-text">
            <span class="visible-xs"><br/></span>
            My biggest passion is JavaScript, and second to that is CMS implementation on <strong>.NET</strong> based CMS'es like <strong>Umbraco</strong> and <strong>Dynamicweb</strong>. Before moving to the .NET world, I have worked with <strong>PHP</strong> based systems like <strong>Wordpress</strong> and <strong>Joomla</strong>. <br><br>You are more than welcome to add me on <a href="https://www.linkedin.com/in/bogdanciocsan" class="contact-me-link">#linkedin</a>, if you want to know more about me.
        </p>
    </div>
    <div class="col-sm-5 content-hide ">
        <p class="light intro-text">
            I currently work at Smartpage A/S in Roskilde as a Front-end developer, where I develop mainly webshops (B2B and B2C) and enterprise apps using the Ionic framework.<br/><br/>
            Feel free to drop me a line, by clicking on the <a href="#portfolio" class="contact-me-link" ng-click="sendMail()">#portfolio</a> button.</p>
    </div>
</div>
<div class="row portfolio-container">
    <div class="col-sm-10 col-sm-offset-1 text-center">
        <a href="#" id="contact" class="portfolio-link contact-me-btn" ng-click="sendMail()">Request my portfolio</a>
    </div>
</div>
